$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$navbarNameColor:green;

nav ul {

  display: flex;
}
h1{
  color: green;
}
// nav li {
//   display: inline-block;
// }
// nav a {
//   display: block;
//   padding: 6px 12px;
//   text-decoration: none;
// }                  