@import "variables"

@mixin list-style {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: bisque;
}

@mixin flex-display {
  display: flex;
}

@mixin all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: white;
  background-color: black;
}

nav {
  h1 {
    color: $logoColor;
    font-size: $logoFont ; 
  }
  div {
    border-bottom: 2px white solid;
    @include all-center();
  }
  ul {
    gap: 15px;
    @include all-center();
  }
  a {
    @include list-style();
  }
  li {
    @include list-style();
  }
  @include all-center();
}
